version: "3.9"
services:
  customers-ui:
    image: customers-ui
    restart: unless-stopped
    ports:
      - "20043:80"
    environment:
      - NODE_ENV=development

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    restart: unless-stopped
    ports:
      - "10000:10000" # blob
      - "10001:10001" # queue
      - "10002:10002" # table
    command: >
      azurite
      --blobHost 0.0.0.0
      --queueHost 0.0.0.0
      --tableHost 0.0.0.0
      -l /data
    volumes:
      - ./azurite-data:/data
