name: Build and deploy Web

on:
  push:
    branches:
      - main  
    paths:
      - 'Web/**'
  workflow_dispatch:

jobs:
  build-and-deploy-container:
    runs-on: ubuntu-latest

    outputs:
      short_sha: ${{ steps.vars.outputs.short_sha }}

    steps:
    - name: Checkout code
      id: github
      uses: actions/checkout@v4

    # - name: Setup .NET
    #   uses: actions/setup-dotnet@v4
    #   with:
    #     dotnet-version: '10.0.x'

    - name: Configure ACR
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_SERVER }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: SHA of the commit
      id: vars
      run: |
        calculatedSha=$(git rev-parse --short ${{ github.sha }})
        echo "::set-output name=short_sha::$calculatedSha"

    # - name: Restore dependencies
    #   run: dotnet restore Customers.sln

    # - name: Build solution
    #   run: dotnet build Customers.sln --no-restore --configuration Release

    - name: Build and push Docker image to ACR
      env:
        ACR_REGISTRY: ${{ secrets.ACR_SERVER }}
        IMAGE_TAG: ${{ steps.vars.outputs.short_sha }}
      run: |
          docker build -f Web/Web.Dockerfile -t $ACR_REGISTRY/custne-web:$IMAGE_TAG -t $ACR_REGISTRY/custne-web:latest .
          docker push $ACR_REGISTRY/custne-web --all-tags
      
  deploy-app-from-container:
    needs: build-and-deploy-container
    runs-on: ubuntu-latest

    steps: 
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Deploy to Container App
      uses: azure/container-apps-deploy-action@v1
      env:
          IMAGE_TAG: ${{ needs.build-and-deploy-container.outputs.short_sha }}
          ACR_SERVER: ${{ secrets.ACR_SERVER }}
      with:
        registryUrl: ${{ secrets.ACR_SERVER }}
        imageToDeploy: ${{ secrets.ACR_SERVER }}/custne-web:${{ needs.build-and-deploy-container.outputs.short_sha }}
        targetPort: 8080
        ingress: external
        containerAppName: web-custne-dev
        containerAppEnvironment: appenv-custne-dev
        resourceGroup: rg-custne-app
        environmentVariables: VITE_API_BASE_URL=${{ secrets.API_GATEWAY_URL }} VITE_DATA_API_URL=${{ secrets.DATA_SERVICE_URL }} VITE_AUTH_API_URL=${{ secrets.AUTH_SERVICE_URL }} VITE_STORAGE_API_URL=${{ secrets.STORAGE_SERVICE_URL }}